#body {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-drag: none;
}

#banner {
    height: 100vh; /* Set the height to 100% of the viewport height */
}

#logo-alzhelper {
    width: 100px;
    height: 100px;
}

.banner-text {
    margin-bottom: 20px; 
}

.banner-text h1 {
    font-size: 150px;
    font-weight: 3000;
}

.banner-text p {
    font-size: 25px;
    font-weight: 500;
}

.BTN a {
    text-decoration: none;
    color: black;
}